:root {
  --main-font: Poppins;
  --dark-purple: #462cb2;
  --dark: #272044;
  --light: #fff;
  --background-color: #f8f8f8;
}
/* Sections */
.hero {
  text-align: center;
  color: var(--light);
  padding: 200px 0;
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.59),
      rgba(39, 32, 68, 0.59)
    ),
    url("/img/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.why-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 64px;
  margin: 100px 150px;
}
.cafe-section {
  background-color: var(--background-color);
  text-align: center;
  padding: 50px 0 20px;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin: 50px 150px;
  background-color: var(--background-color);
  text-align: left;
}
.card-body {
  padding: 15px;
  background-color: var(--light);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}
.gallery-section {
  padding: 70px 0;
  text-align: center;
}
.gallery-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 30px;
  margin: 20px 120px;
}
footer {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  gap: 64px;
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.9),
      rgba(39, 32, 68, 0.9)
    ),
    url("/img/footer.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--light);
  font-family: var(--main-font);
  padding: 100px 100px;
}
/* Elements */
.hero button {
  font-size: 14px;
  line-height: 21px;
  color: var(--dark);
  background-color: var(--light);
  font-family: var(--main-font);
  font-weight: 700;
  padding: 16px 32px;
  border: none;
  margin: 10px;
}

.why-photo {
  width: 570px;
  max-height: 461px;
  object-fit: cover;
}
.card {
  background-color: var(--light);
  box-shadow: 20px 20px 40px 0px #c6c6c633;
  height: 698px;
}
.card-banner {
  display: flex;
}
.card-banner img {
  aspect-ratio: 1 / 1;
  width: 185px;
}

.card button {
  display: block;
  margin: 5px auto;
  background-color: var(--dark-purple);
  color: var(--light);
  font-size: 14px;
  line-height: 21px;
  padding: 16px 32px;
  width: 306px;
  font-weight: 700;
  border: none;
}
.img-gallery {
  aspect-ratio: 1 / 1;
  max-width: 370px;
  object-fit: cover;
  grid-column: span 2;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  opacity: 0.7;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
/* Typography */
h1,
h2,
h3,
h4,
p {
  font-family: var(--main-font);
  font-weight: 700;
  margin: 0 0 15px;
}

.hero h1 {
  font-size: 96px;
  line-height: 144px;
}
.hero h2 {
  font-size: 40px;
  line-height: 60px;
  font-weight: 400;
}
.hero h3 {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 5px;
  font-weight: 900;
}
.why-section h2 {
  font-size: 40px;
  line-height: 50px;
}

.why-section p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.sub-heading {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 5px;
  color: var(--dark);
  opacity: 30%;
}
.section-heading {
  font-size: 48px;
  line-height: 72px;
}
h4 {
  font-size: 24px;
  line-height: 36px;
}
.card p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.7;
}
.card .mini-titels {
  font-weight: 700;
  font-size: 13px;
  line-height: 19.5px;
}
footer h4 {
  font-size: 20px;
  line-height: 30px;
}

footer p {
  font-size: 16px;
  line-height: 24px;
  opacity: 0.7;
  font-weight: 400;
}

/* Responsive */
@media (max-width: 1000px) {
  .why-section {
    grid-template-columns: 1fr;
    gap: 16px;
  }
  .card-container {
    grid-template-columns: 1fr;
    gap: 16px;
  }
  .gallery-container {
    grid-template-columns: 1fr;
    gap: 16px;
  }
  footer {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}
